

@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/CompanyLayout.cshtml";
}


@using HumanResourcesWebsite.Models
@model List<Message>


    <a class="btn btn-warning mt-5" href="/MessagesCompany/To">Sent Messages</a>
    <a class="btn btn-success mt-auto" href="/MessagesCompany/NewMessage">New Message</a>


<table class="table table-bordered mt-3">
    <tr style="background-color:darkcyan">
        <th>Sender</th>
        <th>Contant</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Sender</td>
            <td>@x.Contant</td>
            <td>@x.Subject</td>
            <td>@x.Date</td>
        </tr>


    }




</table>
