@model HumanResourcesWebsite.Models.HomeViewModel
@{
    ViewBag.Title = "How";
    Layout = "~/Shared/_homeLayout.cshtml";
}

<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <!---728x90--->
            <h3 class="tittle text-center mb-lg-4 mb-3 font-weight-bold">
                How It works
            </h3>
            <!---728x90--->
            <div class="row choose-main mt-5">
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 1</span>
                        </h5>
                        <h4 class="post my-3 ">Register an account</h4>

                    </div>
                </div>
                <div class="col-lg-6 work-grid-left">
                    <img src="/proje-part1/images/g1.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row my-5">

                <div class="col-lg-6 work-grid-left">
                    <img src="/proje-part1/images/g7.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 2</span>
                        </h5>
                        <h4 class="post my-3">Specify & Search Your Job</h4>

                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 3</span>
                        </h5>
                        <h4 class="post my-3">Apply For Job</h4>

                    </div>
                </div>
                <div class="col-lg-6 work-grid-left">
                    <img src="/proje-part1/images/g3.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-bottom-wthree mid py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5   py-md-3 py-3">
            <div class="mid-info text-center pt-3">
                <h3 class="tittle text-center cen mb-lg-5 mb-3 ">
                    Make a Difference with Your Online Resume!
                </h3>
                <p></p>
                <div class="resume">
                    <a class="font-weight-bold" href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                        <i class="far fa-user"></i> Create Acccount
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

